[package]
authors.workspace      = true
description            = "Integration Tests for the miden client library"
edition.workspace      = true
license.workspace      = true
name                   = "miden-client-integration-tests"
publish                = false
repository.workspace   = true
rust-version.workspace = true
version.workspace      = true

[[bin]]
name = "miden-client-integration-tests"
path = "src/main.rs"

[[test]]
name = "integration"
path = "tests/integration.rs"

[dependencies]
# Workspace dependencies
miden-client = { features = ["sqlite", "std", "testing", "tonic"], path = "../../crates/rust-client" }

# External dependencies
anyhow      = { features = ["std"], workspace = true }
async-trait = { workspace = true }
clap        = { features = ["derive", "env"], version = "4.0" }
num_cpus    = { version = "1.0" }
rand        = { workspace = true }
regex       = { version = "1.0" }
serde       = { features = ["derive"], version = "1.0" }
tokio       = { workspace = true }
url         = { version = "2.5.4" }
uuid        = { version = "1.10" }

[build-dependencies]
proc-macro2 = "1.0"
quote       = "1.0"
syn         = { features = ["full", "visit"], version = "2.0" }

# Simple proc-macro for test_case attribute
[dependencies.test-case-marker]
path = "test-case-marker"

[package.metadata.cargo-machete]
ignored = ["url"]
